<% include partials/head %>
	<body>
			<nav class="navbar navbar-default navbar-fixed-top">
			  <div class="container" style="box-sizing: border-box;padding: 5px;">
				   <ul class="nav nav-pills">
				  		<li role="presentation" class="active"><a href="#">Inicio</a></li>
				  		<li role="presentation"><a href="#">Algo</a></li>
				  		<li role="presentation"><a href="#">Contacto</a></li>
				  		<% if (user) { %>
				  		<li class="active navbar-right" role="presentation"><a href="/perfil"><strong>Acceso Administrador</strong></a></li></li>
				  		<% } %>
					</ul>
			  </div>
			</nav>

			
			<div class="jumbotron fluid-container text-center fondo">
				<div class="col-md-12 text-center" style="margin-top: 70px;">
					<img alt="" src="http://flybynet.net/publico/template/logo/flybynet-logotipo-4-2015-a.png">
				</div>

				<h2 style="color:#fff; font-weight:700;">Sistema en NodeJS.</h2>
				<p style="color:#fff; class="text-center">Simple Login y registro en NodeJS</p>
				<p style="color:#fff; class="text-center"><strong>por Fernando 2017</strong></p>
				<a href="/login" class="btn btn-default"><span class="fa fa-sign-in"> Ingresar al Sistema</span></a>
				<!-- <a href="/registro" class="btn btn-default"><span class="fa fa-user"> Registrarse al Sistema</span></a> -->
			</div>


			<div class="container">
			<div class="row" style="box-sizing: border-box;margin-bottom: 30px;">
			<div class="col-md-12" style="background:#EEE;">
			<div class="page-header">
      		<h3>DESTACADAS <small> Subtext for header</small></h3>
    		</div>

			<% if(persons.length>0){%>

			<% for(var i=0; i<persons.length; i++) {%>
			<div class="col-md-4">
			<figure class="snip1543">
			  <img src="<%= persons[i].imagen %>" />
			  <figcaption>
			    <h3><%= persons[i].nombre %></h3>
			    <p></p>
			    <p><strong><%= persons[i].tipo %></strong></p>
			    <br>
			    <p><%= persons[i].apellido %></p>
			  </figcaption>
			  <a href="/pelicula/<%= persons[i].id %>"></a>
			</figure>
			</div>
			<% } %>

			<%} else {%>
			<p class="alert alert-warning">No hay contactos</p>
			<% } %>
			</div>
			</div>
			</div>
			
			 <div class="container">
                        <div class="row" style="box-sizing: border-box;margin-bottom: 30px;">
                        <div class="col-md-12" style="background:#EEE;">
                        <div class="page-header">
                <h3>Peliculas // Series <small> mostrar todo</small></h3>
                </div>

			<% if(personas.length>0){%>

                        <% for(var i=0; i<personas.length; i++) {%>
                        <div class="col-md-4">
                        <figure class="snip1543">
                          <img src="<%= personas[i].imagen %>" />
                          <figcaption>
                            <h3><%= personas[i].nombre %></h3>
                            <p></p>
                            <p><strong><%= personas[i].tipo %></strong></p>
                            <br>
                            <p><%= personas[i].apellido %></p>
                          </figcaption>
                          <a href="/pelicula/<%= personas[i].id %>"></a>
                        </figure>
                        </div>
                        <% } %>

                        <%} else {%>
                        <p class="alert alert-warning">No hay contactos</p>
                        <% } %>

			 </div>
                        </div>
                        </div>


			
			<footer class="container-fluid" style="background-color: #D3D3D3; padding: 20px;">

        <div class="col-md-12">
          <h6 style="text-align: center; font-size:10pt;"><strong>Desarrollo y Diseño SD Comunicaciones 2017</strong></h6>
          <p style="text-align: center;"><strong>Contacto: info@sdcomunicaciones.com</strong></p>
        </div>

      </footer>
	
	</body>
</html>
