<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>CRUD Node</title>
</head>
<body>

<nav class="navbar navbar-default">
        <div class="container">
           <ul class="nav nav-pills">
              <li role="presentation"><a href="/perfil">Inicio</a></li>
              <li role="presentation"><a href="/alta">Subir</a></li>
              <li role="presentation" class="active"><a href="/lista">Listado</a></li>
              <li role="presentation"><a href="#">Contacto</a></li>
          </ul>
        </div>
      </nav>

<div class="container">
<div class="row">
<div class="col-md-12">
<h2>Contactos</h2>

<br><br>
<% if(persons.length>0){%>
<table class="table table-bordered" border="1">
<thead>
	<th>Nombre</th>
	<th>Apellido</th>
	<th>Telefono</th>
  <th>Email</th>
	<th></th>
</thead>
  <% for(var i=0; i<persons.length; i++) {%>
    <tr class="quote">
      <td><%= persons[i].nombre %></td>
      <td><%= persons[i].apellido %></td>
      <td><%= persons[i].telefono %></td>
      <td><%= persons[i].email %></td>
      <td>
      	<a href="/edit/<%= persons[i].id %>" class="btn-xs btn btn-warning">Editar</a>
      	<a href="/delete/<%= persons[i].id %>" class="btn-xs btn btn-danger">Eliminar</a>
      </td>
    </tr>
  <% } %>
</table>
<%} else {%>
<p class="alert alert-warning">No hay contactos</p>
<% } %>
</div>
</div>
</div>
</body>
</html>